*{
    margin:0;
    padding: 0;
    flex: wrap;;
    }

body{
    background-image: url("https://i.ibb.co/xH74kDy/lom.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}
.menu{
  display: flex;
  justify-content: space-between;
  color: orange;
  background:  linear-gradient(50deg,#cfe940,#f5a031);
  width: 100%;
  height: 80px;
  margin: -20;

}
#current{
  display: flex;
  justify-content: space-between;
  flex-direction: column;

}
#mimenu{
  
  cursor: pointer;
  list-style: none;
  padding: 1%;
  display: flex;
  flex-direction: space-around;
  justify-content: flex-end;
  text-align: center;
}

.menuNavegation{
  display: flex;
  flex-direction: row;
  align-content: space-around

}
#selectOrder{
  display: flex;

  justify-content: center;
}

#root{
  margin: auto;
  display: flex;
  flex-direction: row;
  flex-flow: wrap; 
  margin: 50px;
  column-count: 14;
  margin-top: 3%;
}

.btn{
  display: flex;
  justify-content: center;
  margin-top: 30px;
  padding: 10px;
  margin: 10px;
}
.select{
  text-align: center;
}

.btn button{
margin-top: 30px;
padding: 10px;
margin: 10px;
background: linear-gradient(50deg,#cfe940,#f5a031);
}

.btn button:hover{
  transform: translate(10px);
  box-shadow: 0px 30px 5px rgba(0,0,0,0.3)
}

.flip-card {
  background-color:rgb(247, 232, 35);
  width: 200px;
  height: 360px;
  margin-bottom: 10px;
  perspective: 1000px;
  margin:30px;
  justify-content: center;
  }

  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }

  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }

   .flip-card-back.flip-card-back{
    position: absolute;
    width: 200%;
    height: 200%;
    backface-visibility: hidden;
  }
  .flip-card-front {
    width: 190px;
    height: 205px;
    border-radius: 40px;
  
  }

.flip-card-back {
  transform: rotateY(180deg);
  width: 190px;
  height: 205px;
  border-radius: 40px;
}
.imagen{
  width: 180px;
  height: 180px;
  border-radius: 10px;
  justify-content:space-between;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding-top: 15%
}



