*{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
body{
    background-image: url(Imagenes/thumb-1920-876589.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-color: black;
    background-position-x: center;
}
/*Header*/
header{
    display: flex;
    width: 100%;
}

header nav{
    width: 97%;
    margin: 3% auto;
    max-width: 1000px;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.imagenRaM{
    width: 35%;
    max-width: 65%;
    height: auto;
    margin: 2% auto;
    justify-content: center;
    overflow: hidden;
}
header nav ul{
    width: 80%;
    display: flex;
    justify-content: space-around;
    list-style: none;
    align-items: center;
}

.buttonPrincipal{
    background-color: #02297b;
    border: none;
    color: lightgray;
    border-radius: 8px;
    padding: 20px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: Bangers;
    
}
.buttonPrincipal:hover {
    background-color: #5bb040;
}
/*Botones de imagen de página principal*/
.portals{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.buttoncito{
    background: transparent;
    border: none;
}
.portal{
    width: 50%;
}
/*Contenedor de funciones*/

.container{
    width: 100%;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;
    background: #5bb040;
    overflow: hidden;
    padding: 2% 2%;
    opacity: 0.9; 
}

.buttons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}

.orden, .stylesButton, .filterPlace,  .buttonSeason  {
    background-color: #02297b;
    border: none;
    color: lightgray;
    border-radius: 8px; 
    padding: 20px 32px; 
    font-family: Bangers;
    font-size: 16px;
}

.orden, .list, .containerplace, .container{
    display: none;
}

.orden, .stylesButton, .filterPlace{
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-content: center;
    font-family: Bangers;
    width: 20%;
    
}


.filterStatus, .filterGender{
    display: flex !important;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    width: 40%;
    font-family: Bangers;
   
}

.styleButton {
    background-color: #02297b;
    border: none;
    color: lightgray;
    border-radius: 8px; 
    padding: 20px 32px;
    margin-left: 2em;
    display: none;
    font-family: Bangers;
    font-size: 16px;
}

/*Personajes con datos e imágenes*/

.ulItem {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-column-gap: 4%;
    align-items: baseline;
    margin: 5%;
}
.liItem {
    width: 80%;
    height: auto;
    padding: 2% 2%;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    list-style: none; 
    
}
.imgRaM{
    border-radius: 50%;
    width: 180px;
    overflow: hidden;
}
.charData {
    font-family: sans-serif;
    width: 95%;
    justify-content: center;
    align-items: center;
    list-style: none;
    background: #5bb040;
    margin: 2% 2%;
}

/*Página de datos curiosos*/

.datos{
    color: lightgray;
    font-size: 1em;
    font-family: sans-serif;
    background: #02297b;
    padding: 5% 5%;
    display: none;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    flex-direction: column;
}
.link{
    color: #5bb040;
    font-size: 1.5em;
    text-align: center;
    font-family: Bangers;
}
.tittleDatos{ 
    font-size: 2em;
    font-family: Bangers;
}

/*Temporadas*/
.containerSeasons{
    display: none;
    background: #5bb040;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: lightgray;
    font-size: 1.5em;
    font-family: Bangers;
    padding: 5% 5%;
}
#infoSeason1, #infoSeason2, #infoSeason3 {
    display: none;
    font-family: sans-serif;
    font-size: 0.7em;
    background: #02297b;
    padding: 1% 1%;
}

@media screen and (max-width: 1000px){
   .ulItem {
        grid-template-columns: auto auto auto;
        grid-column-gap: 6%;
    }
}

.buttonGender, .buttonStatus{
    display: none;
}


@media screen and (max-width:800px ){

    .portals{
        display: none;
    }
    header{
        display: flex;
        width: 100%;
        height: 20%;
        margin: 2% auto;
        padding: 2% auto;
        background:#02297b;    
    }
    header nav ul{
        flex-direction: row;
        width: 90%;
        color: white;
    }
    header nav ul li a:hover {
        background: #5bb040;
    }
    .ulItem {
        display: grid;
        grid-template-columns: auto auto;
        grid-column-gap: 5%;
}

@media screen and (max-width:600px ){
    .imagenRaM, .portals{
        display: none;
    }
    
    header{
        display: flex;
        width: 100%;
        height: auto;
        margin: 2% auto;
        background:#02297b;
    }

    header nav ul{
        flex-direction: column;
        width: 100%;
    }
    .ulItem {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    header nav ul li {
        width: 100%;   
    }
    header nav ul li a:hover {
        background:#5bb040;
        width: 100%;  
    }
}