body{
   font-family: Roboto;
   margin: 0px;
   background-color: #1B2838;
}

#orderDate{
   text-align: left;
   padding: 1%;
   margin-bottom: 1%;
}
#linksNav{
background-color: #2A475E;
padding: 1%;
text-align: right;
}
#textSelect, .links{
   color: white;
}
#textSelect{
   font-weight: 700;
}
.links{
   font-size: 20px;
   padding: 2em;
}
#filters{
   text-align: left;
   padding: 1%;
}

.btnActive, .btnfilters{
   border: none;
   border-radius: 20px;
   margin-left: 5pt;
   height: 40px;
   font-size: 12px;
   font-weight: bold;
   color: white;
   text-transform: uppercase;
   margin-top: 14pt;
   padding: 1%;
   
}
.btnActive{
   background-color: #B55123;
}
.btnfilters{
   background-color: #FB8637;
}
.btnfilters:hover{
   background-color: #C36C2D;
}
.cards{
   background-color: #2A475E;
   text-align: center;
   color: white;
   width: 350px;
   height: 350px;
   margin-left: 10pt;
   padding: 1em;
   margin-top: 5pt;
   float: left;
   
}
a:link {
   color: #FB8637;
   text-decoration: none;
 }
 
a:visited {
   color: #ffffff;
   font-weight: bold;
   text-decoration: none;
 }
 
a:hover {
   color: #C36C2D;
   text-decoration: underline;
 }
 
a:active {
   color: #B55123;
   text-decoration: none;
 }
#content{
   text-align: center
}
.date{
   font-size: 10px;
   color: lightgrey;
   text-align: right;
}
.url{
   color: blue;
}

